<h1>second-ng-app(app.component.html)</h1>
<app-user-profile userName="Ramesh" isSingle="true" salary="40000"></app-user-profile>
<app-user-profile userName="Mahesh" isSingle="false" salary="90000"></app-user-profile>
<app-user-profile userName="Nitesh" isSingle="false" salary="11000"></app-user-profile>

<!-- parent(app) to child(user-profile) data send -->
<hr>
<!-- using iterator(directive) providing data through app.component.ts. CommonModule is required for this -->
<app-user-profile 
    *ngFor="let u of users" 
        [userName]="u.name" 
        [isSingle]="u.isSingle" 
        [salary]="u.salary" 
>
</app-user-profile>

<hr>
<!-- using @for -->
@for (u of users; track $index) {
    <app-user-profile 
        [userName]="u.name" 
        [isSingle]="u.isSingle" 
        [salary]="u.salary"
    >
    </app-user-profile>
}